@using Blazored.Modal
@using Microsoft.Fast.Components.FluentUI.DesignTokens;
@inherits LayoutComponentBase
@inject AccentBaseColor accentBaseColor
@inject BaseLayerLuminance baseLayerLuminance

<FluentDesignSystemProvider @ref="designSystemProvider" >
    <CascadingBlazoredModal Position="ModalPosition.BottomLeft">
        <FluentCard class="page" Appearance="Appearance.Filled">
            <div class="">
                <div class="row mt-1 mr-5 justify-content-end">
                    <FluentSelect Items=@baseColorOptions
                                  TOption="Option<string>"
                                  OptionText="@(i => i.Text)"
                                  OptionValue="@(i => i.Value)"
                                  OptionSelected="@(i => i.Selected)"
                                  @bind-Value="BaseColor" />
                    <FluentButton Appearance="Appearance.Neutral" @onclick="OnClicked">
                        @if (darkMode)
                        {
                            <FluentIcon Name="@FluentIcons.WeatherSunny" Size="@IconSize.Size24" Variant="@IconVariant.Filled" Color="@Color.Accent" />
                        }
                        else
                        {
                            <FluentIcon Name="@FluentIcons.WeatherMoon" Size="@IconSize.Size24" Variant="@IconVariant.Filled" Color="@Color.Accent" />
                        }
                    </FluentButton>
                </div>
                <div class="main ml-5 mr-5">
                    @Body
                </div>
            </div>

        </FluentCard>
    </CascadingBlazoredModal>
</FluentDesignSystemProvider>